.chartjsContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 5px;

  .chartWrapper{
    display: 100%;

    canvas{
      background-color: white;
    }
  }
}

