.slideContainer{
  width: 300px;
  margin: 0 auto;

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  main img{
    width: 300px;
    height: 200px;
    margin-bottom: 0.5rem;
  }

  nav{
    ul{
      display: flex;
      justify-content: space-between;
    }
    li{
      width: 60px;
      border: 1px solid #dedede;
      border-radius: 4px;
      font-size: 12px;
      padding: 4px;
      text-align: center;
      cursor: pointer;
      user-select: none;
      &:hover{
        background-color: #f8f8f8;
      }

      &#play, &#pause{
        width: 140px;

        &.hidden{
          display: none;
        }
      }
    }
  }

  .thumbnails{
    display: grid;
    grid-template-columns: repeat(auto-fill, 56px);
    grid-auto-rows: 30px;
    grid-gap: 5px;

    li{
      opacity: 0.4;
      &.current{
        opacity: 1;
      }
      &:hover{
        opacity: 1;
      }
    }

    img{
      width: 56px;
      height: 30px;
    }
  }
}

