.timerContainer{
  font-family: 'Courier New', monospace;
  text-align: center;
  background-color: white;
  padding: 15px;
  margin: 20px auto;
  width: 100%;

  #timer{
    font-size: 10vw;
    font-weight: bold;
    background-color: white;
    height: 10vw;
    line-height: 10vw;
    margin: 50px auto;
    user-select: none;
  }

  .controls{
    display: flex;
    justify-content: center;
  }
  .timerBtn{
    width: 80px;
    height: 45px;
    line-height: 45px;
    background-color: #ddd;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    box-shadow: 4px 4px 0px 0px rgba(14, 14, 14, 0.44);
  }
  .inactive{
    opacity: 0.2;
  }
}
