.timerContainer{
  font-family: 'Courier New', monospace;
  text-align: center;
  background-color: white;
  padding: 15px;
  margin: 20px auto;
  width: 100%;

  #timer{
    font-size: 10vw;
    font-weight: bold;
    background-color: white;
    height: 10vw;
    line-height: 10vw;
    margin: 50px auto;
    user-select: none;
  }

  .controls{
    display: flex;
    justify-content: center;
  }
  .timerBtn{
    font-size: 2vw;
    width: 10vw;
    height: 10vw;
    line-height: 10vw;
    background-color: #ddd;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    box-shadow: 4px 4px 0px 0px rgba(14, 14, 14, 0.44);
    border-radius: 50%;
    margin: 0 0.5rem;
    &.pressed{
      box-shadow: 1px 1px 0px 0px rgba(14, 14, 14, 0.44);
      margin-top: 5px;
    }
  }
  .inactive{
    opacity: 0.2;
  }
}
