extends parts/_layout.pug

block contents
  h1 タイマー
  .timerContainer
    #timer 00:00.000
    .controls
      .timerBtn#start Start
      .timerBtn#stop Stop
      .timerBtn#reset Reset

block javascript
  script(src="js/timer.js")

