nav.sidenav
  .sidenav__close
    | ☓
  ul.sidenav__list
    li.sidenav__list--item: a(href="./index.html") ホーム
    li.sidenav__list--item: a(href="./hitoff.html") 複数のブロックから当たりを引く
    li.sidenav__list--item: a(href="./omikuji.html") おみくじ
    li.sidenav__list--item: a(href="./typing.html") タイピング

