#container{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "sidenav header"
    "sidenav main";
  min-height: 100vh;

  @include mq(sp){
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
      'header'
      'main'
      'footer';
  }
}

#header{
  grid-area: header;
  background: #4e4e4e;
}

.sidenav {
  grid-area: sidenav;
  background-color: #394263;
  padding: 1rem;
  border-right: 1px solid;

  &__close{
    // visibility: hidden;
    display: none;
  }
  &__list{
    list-style: none;
    padding: 0;
    margin-top: 20px;

    &--item{
      a{
        color: white;
        padding: 5px 10px;
        display: block;
        &:hover{
          background-color: hsla(199, 98%, 48%, 0.15);
          cursor: pointer;
        }
      }
    }
  }

  @include mq(sp){
    width: 200px;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    box-shadow: 5px 0px 13px 0px rgba(0, 0, 0, 0.35);
    z-index: 2; /* Needs to sit above the hamburger menu icon */
    transform: translateX(-250px);
    transition: all .3s ease-in-out;

    &.active{
      transform: translateX(0);
    }
    &__close{
      position: absolute;
      display: block;
      top: 8px;
      right: 12px;
      cursor: pointer;
      font-size: 20px;
      color: white;
    }
  }
}

#main {
  grid-area: main;
  background: #eee;
  padding: 1rem;
}
